/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */

html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */

hr {
  color: inherit; /* 1 */
  height: 0; /* 2 */
  overflow: visible; /* 3 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */

nav li::before {
  content: "\200B";
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
  -ms-overflow-style: scrollbar; /* 3 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */

/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */

table {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */

fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
  resize: block; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/*
 * Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.container {
  max-width: unset;
  padding: 0 6vw;
}

@media (min-width: 576px) {
  .container {
    max-width: unset;
    padding: 0 7vw;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: unset;
    padding: 0 9vw;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: unset;
    padding: 0 10vw;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: unset;
    padding: 0 16vw;
  }
}

.flexgrid.flexgrid--v2 {
  --columns: 3;
  --gap: 2rem;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), calc(100%/var(--columns) - ((var(--gap) * (var(--columns) - 1)) / var(--columns))));
  grid-template-rows: none;
}

.flexgrid.flexgrid--v2 .flexgrid__item {
  word-break: break-all;
}

.maronsy {
  --gap: 3rem;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.maronsy__item {
  margin-bottom: 2rem;
}

.maronsy__column {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.maronsy[data-justify-columns=flex-start] {
  justify-content: flex-start;
}

.maronsy[data-justify-columns=flex-end] {
  justify-content: flex-end;
}

.maronsy[data-justify-columns=center] {
  justify-content: center;
}

.maronsy[data-justify-columns=space-between] {
  justify-content: space-between;
}

.maronsy[data-justify-columns=space-around] {
  justify-content: space-around;
}

.maronsy[data-justify-columns=space-evenly] {
  justify-content: space-evenly;
}

.woocommerce-cart-form .product-thumbnail {
  display: none;
}

.font--serif {
  font-family: oxtail, serif;
}

.label {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.color--text,
.color--text * {
  color: #687e84;
}

.color--latte,
.color--latte * {
  color: #D7A77B;
}

.color--coffee,
.color--coffee * {
  color: #88603d;
}

.color--chocolat,
.color--chocolat * {
  color: #564033;
}

.opacity--75 {
  opacity: 0.75;
}

/*
Theme Name: Go Local
Author: Lennert De Ryck
Description: Go Local
Version: 0.1
Requires at least: 5.0
Tested up to: 5.5
Requires PHP: 7.3.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

*,
*::after,
*::before {
  transition: all 0.3s ease;
}

html,
body {
  min-height: 100vh;
}

body {
  position: relative;
}

body::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/wp-content/themes/go-local/assets/swirl_V3@4x.png");
  background-position: -19px -200px;
  background-size: 40%;
  background-repeat: no-repeat;
  z-index: -2;
}

body::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #cfe7f1 0%, rgba(207, 231, 241, 0.125087535) 100%);
  z-index: -3;
}

a,
a:hover {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

hr:not([size]) {
  height: 2px;
}

.w-full {
  max-width: 100%;
  width: 100%;
}

.bg-white {
  background-color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

.row {
  display: flex;
}

.row.right {
  flex-direction: row-reverse;
}

.custom-logo-link {
  display: block;
}

.custom-logo-link img {
  height: 50px;
  width: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ebebeb;
}

body a {
  color: inherit;
}

body main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body .navigation {
  display: flex;
  justify-content: space-between;
}

body .navigation.footer {
  background-color: transparent;
}

body .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body .navigation ul li a {
  color: black;
}

body .back {
  margin: 2rem 0 1rem 0;
}

body .hero {
  width: 100%;
}

body .hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

body .container .blog {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  margin-bottom: 1rem;
}

body .container .blog h2 {
  font-size: 1.5rem;
}

body .container .blog h2 a {
  text-decoration: none;
}

footer {
  background-color: #111111;
}

footer * {
  color: #fff !important;
}

body {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page__content a,
.page__content a:hover,
.link--inline,
.link--inline:hover {
  display: inline !important;
  color: #687e84;
  text-decoration: underline;
}

.page__content a:hover,
.link--inline:hover {
  opacity: 0.6;
}

select,
select:focus,
select:focus-within,
select:active,
input,
input:focus,
input:focus-within,
input:active,
textarea,
textarea:focus,
textarea:focus-within,
textarea:active {
  outline: none;
  box-shadow: none;
}

select {
  padding: 0.3rem;
  border-radius: 5px;
  color: grey;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

header .navigation {
  padding: 6rem 2rem;
}

footer {
  padding: 0 4rem;
}

footer hr {
  background-color: #70b4c5;
  opacity: 0.6;
}

footer .custom-logo-link img {
  filter: invert(1);
  height: 50px;
}

footer .navigation .menu {
  --spacer-color: #70b4c5;
}

footer .navigation.small .menu {
  --item-spacing: 1rem;
}

footer .navigation.small .menu li {
  border: none;
  opacity: 0.8;
}

footer .btn {
  background-color: #88603d !important;
}

.custom-logo-link img {
  height: 65px;
}

.navigation .menu {
  --item-spacing: 2.2rem;
  --spacer-color: black;
  margin: 0 calc(var(--item-spacing) * -1);
  font-family: oxtail, serif;
  font-weight: 400;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navigation .menu:hover li {
  opacity: 0.5;
}

.navigation .menu li {
  padding: 0 var(--item-spacing);
  margin-right: 0;
}

.navigation .menu li:hover {
  opacity: 1;
}

.navigation .menu li:not(:last-child) {
  border-right: 2px solid var(--spacer-color);
}

.navigation .menu li.current-menu-item a {
  border-bottom: 2px solid #D7A77B;
}

.navigation .menu li a {
  color: #564033;
  vertical-align: middle;
  padding: 0.3rem 0;
}

.navigation.navigation--vertical,
.navigation.navigation--vertical * {
  width: 100%;
}

.navigation.navigation--vertical .menu {
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.navigation.navigation--vertical li {
  padding: 0.5rem 0;
}

.navigation.navigation--vertical li:not(:last-child) {
  border-right: none;
  border-bottom: 2px solid var(--spacer-color);
}

.navigation.small .menu {
  --item-spacing: 1.4rem;
  font-size: 0.8rem;
  font-family: europa, sans-serif;
}

.btn,
.button,
button {
  display: inline-block;
  padding: 0.5rem 1rem !important;
  border-radius: 0.25rem;
  text-decoration: none;
  background-color: #70b4c5 !important;
  color: white !important;
}

.form__input-wrapper button {
  background-color: transparent !important;
  padding: inherit !important;
  color: inherit;
}

.products .vouchers:nth-child(3n+1) .voucher::after {
  background-color: black;
}

.products .vouchers:nth-child(3n+2) .voucher::after {
  background-color: #88603d;
}

.products .vouchers:nth-child(3n+3) .voucher::after {
  background-color: #D7A77B;
}

.vouchers__wrapper {
  max-width: 100vw;
  overflow-x: scroll;
  overflow-y: visible;
  scrollbar-width: 0;
}

.vouchers__wrapper::-webkit-scrollbar {
  display: none;
}

.vouchers__variations {
  padding: 30px 0 50px 0;
  display: inline-flex;
  gap: 3rem;
}

.voucher {
  position: relative;
  display: block;
  max-width: 297.5px;
  min-width: 297.5px;
  height: 192.5px;
  box-shadow: 0px 8px 30px 12px rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  overflow: hidden;
}

.voucher * {
  margin-bottom: 0;
  color: white;
}

.voucher::before {
  content: " ";
  position: absolute;
  height: 200%;
  width: 100%;
  background-image: url("/wp-content/themes/go-local/assets/swirl_V3@4x.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-55deg) translate(46%, -5%);
  filter: saturate(1.4);
  overflow: visible;
  z-index: -1;
}

.voucher::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background-color: black;
}

.voucher__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4rem;
  width: 100%;
  height: 100%;
  max-width: calc(100% - 50px);
}

.voucher__seller {
  font-family: oxtail, serif;
  line-height: 1.1rem;
}

.voucher__value-wrapper {
  position: absolute;
  top: 50%;
  right: -5%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  border: 1px solid white;
  border-radius: 100%;
  font-family: oxtail, serif;
}

.voucher__value-wrapper h5 {
  margin-bottom: -10px;
}

.voucher--theme-coffee::after {
  background-color: #D7A77B;
}

.hero {
  padding: 4rem 0;
}

.hero__title {
  font-family: oxtail, serif;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: grey;
}

.hero--front-page {
  margin-bottom: 100px;
}

.hero__voucher-preview {
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 1;
}

.hero__voucher-preview:hover .vouchers__wrapper {
  padding-left: 67vw;
}

.hero__voucher-preview .vouchers__wrapper {
  padding-left: 70vw;
}

.badge {
  all: inherit;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #D7A77B;
  border-radius: 1000px;
}

.badge__prepend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.badge--coffee {
  background-color: #88603d;
}

.badge--coffee * {
  color: white;
}

.link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.link--center-line {
  position: relative;
  text-align: center;
  color: #564033;
  font-family: oxtail, serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.link--center-line:hover *,
.link--center-line:hover {
  color: #70b4c5;
}

.link--center-line:hover::after {
  background-color: #70b4c5;
}

.link--center-line::after {
  content: " ";
  position: absolute;
  top: calc(100% + .4rem);
  left: 10%;
  right: 10%;
  height: 1px;
  background-color: #564033;
}

.link--center-line .link__prepend {
  display: block;
  text-align: center;
  opacity: 0.6;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: europa, sans-serif;
}

.form,
form {
  --accent: #70b4c5;
  --accent-op: #687e84;
}

.form br,
form br {
  display: none;
}

.form-theme--coffee,
form-theme--coffee {
  --accent: #88603d;
  --accent-op: #564033;
}

.form__input,
form__input {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  border-bottom: 2px solid var(--accent-op);
}

.form__input span:first-of-type,
form__input span:first-of-type {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: europa, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--accent-op);
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.form__input input,
form__input input {
  all: unset;
  padding: 0.4rem 0rem 0.4rem 0rem;
  font-family: oxtail, serif;
}

.form__input input::-moz-placeholder, form__input input::-moz-placeholder {
  color: var(--accent-op) !important;
  opacity: 1;
}

.form__input input:-ms-input-placeholder, form__input input:-ms-input-placeholder {
  color: var(--accent-op) !important;
  opacity: 1;
}

.form__input input::placeholder,
form__input input::placeholder {
  color: var(--accent-op) !important;
  opacity: 1;
}

.form__input--area,
form__input--area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: none;
}

.form__input--area .wpcf7-form-control-wrap,
form__input--area .wpcf7-form-control-wrap {
  width: 100%;
}

.form textarea,
form textarea {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: #f3f3f3;
}

.form .wpcf7-form-control-wrap,
form .wpcf7-form-control-wrap {
  display: block;
}

.form__input-wrapper,
form__input-wrapper {
  display: flex;
  border-bottom: 2px solid var(--accent-op);
}

.form__input-wrapper:focus-within,
form__input-wrapper:focus-within {
  border-bottom: 2px solid var(--accent);
}

.form__input-wrapper input,
form__input-wrapper input {
  border: none;
}

.form__input-wrapper .form__input,
form__input-wrapper .form__input {
  flex: 1;
  border-bottom: none;
}

.form__input-wrapper button,
form__input-wrapper button {
  all: unset;
  padding: 0.4rem 0.6rem 0.4rem calc(.6rem + 4px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 0.8rem;
  color: var(--accent) !important;
}

.form--float {
  background-color: #ffffff61;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 7px;
}

.form--float .form,
.form--float form {
  --accent-op: #97aab1;
}

.sidemenu {
  position: fixed;
  top: calc(32px + 1rem);
  bottom: 1rem;
  right: 0;
  transform: translateX(100%);
  z-index: 10;
}

.sidemenu__title {
  margin-bottom: 2rem;
}

.sidemenu__nav {
  position: absolute;
  top: 8rem;
  right: calc(100% - 2px);
  padding: 3.4px 0.8rem;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  background-color: transparent;
  border-radius: 15px 0px 0px 15px;
}

.sidemenu .nav__item {
  padding: 1rem 0.4rem;
}

.sidemenu .nav__item:not(:last-child) {
  border-bottom: 2px solid #88603d;
}

.sidemenu__wrapper {
  position: relative;
  padding: 0 3rem;
  max-width: 500px;
  min-width: 30vw;
  height: 100%;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: #f4f6f7bd;
  border-radius: 15px 0px 0px 15px;
}

.sidemenu__wrapper .sidemenu__title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidemenu__content {
  padding: 3rem 0;
  overflow: scroll;
  max-height: 100%;
}

.sidemenu__content .card + .card {
  margin-top: 1.4rem;
}

.sidemenu__section {
  max-height: 0vh;
  overflow: hidden;
}

.sidemenu__section.sesam-show {
  max-height: 100vh;
}

.sidemenu.sesam-show {
  transform: translateX(0%);
}

.sidemenu.sesam-show .sidemenu__nav {
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: #f4f6f7bd;
}

.card {
  padding: 1rem;
  border: none;
}

.card__title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
}

.card__content {
  opacity: 0.7;
}

.card__content :last-child {
  margin-bottom: 0;
}

.card--blog {
  background-color: #ffffff61;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 7px;
}

.sidebar.row,
.sidebar * .row {
  --bs-gutter-x: 4rem;
}

.widget:not(:nth-child(1),
:nth-child(2),
:nth-child(3),
:nth-child(4)) {
  display: none;
}

.widget__title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.widget__content,
.widget__content *:not(.btn) {
  color: #d1d1d1 !important;
}

.widget:is(ul, .menu),
.widget ul {
  font-family: oxtail, serif;
  list-style: none;
  font-weight: 400;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.widget:is(ul, .menu):hover li,
.widget ul:hover li {
  opacity: 0.5;
}

.widget:is(ul, .menu) li,
.widget ul li {
  padding: 0.5rem 0;
}

.widget:is(ul, .menu) li,
.widget:is(ul, .menu) li *,
.widget ul li,
.widget ul li * {
  color: white !important;
}

.widget:is(ul, .menu) li:hover,
.widget ul li:hover {
  opacity: 1;
}

.widget:is(ul, .menu) li:not(:last-child),
.widget ul li:not(:last-child) {
  border-right: none;
  border-bottom: 2px solid #70b4c5;
}

.layout--page .page__content {
  max-width: 700px;
}

.layout--page .page__content * {
  font-family: oxtail, serif;
}

.layout--page .page__content p {
  font-size: 1.2rem;
  color: #687e84;
  line-height: 1.9rem;
}

.layout--page .page__content h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #564033;
}

.layout--shop .page__content,
.layout--shop .page__content * {
  font-family: oxtail, serif;
}

.layout--shop .page__content p {
  font-size: 1.2rem;
  color: #687e84;
  line-height: 1.9rem;
}

.layout--shop .page__content h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #564033;
}

.layout--product .page .woocommerce.add_to_cart_inline {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}

.layout--product .page .woocommerce.add_to_cart_inline .amount {
  margin-right: 1rem;
}

