.layout--page {
    .page {
        .post-tags {
            margin-bottom: 2rem;
        }
        
        &__content {
            max-width: 700px;
            
            * { @include fontSerif; }
            
            p {
                font-size: 1.2rem;
                color: #687e84;
                line-height: 1.9rem;
            }
            
            h2 {
                margin-top: 4rem;
                margin-bottom: 2rem;
                color: $chocolat;
            }
            
            h3 {
                margin-top: 4rem;
                margin-bottom: 2rem;
                color: $chocolat;
            }
        }
    }
}

// @media (min-width: 1400px) {
//     .layout--page .container {
//         padding-right: 44rem;
//     }
// }