.font--serif {
    @include fontSerif;
}

.label {
    @include label;
}

.color--text {
    &, & * {
        color: #687e84;
    }
}

.color--latte {
    &, & * {
        color: $latte
    }
}

.color--coffee {
    &, & * {
        color: $coffee
    }
}

.color--chocolat {
    &, & * {
        color: $chocolat
    }
}

.opacity--75 {
    opacity: .75;
}